{% extends "base.html" %}

{% block title %}
<title>Book</title>

{% endblock %}

{% block body %}
<form action="/logout" method="POST">
    <button class="logoutSignInButton">LOGOUT</button>
</form>
<form action="/returnToSearch" method="POST">
    <button class="returnToSearch">Return to Search</button>
</form>
<h1>Book</h1>
{% if isbn %}
    <p style="color:rgb(226, 223, 223);">{{ isbn | safe }}</p>
{% endif %}
{% if title %}
    <p style="color:rgb(226, 223, 223);">{{ title | safe }}</p>
{% endif %}
{% if author %}
    <p style="color:rgb(226, 223, 223);">{{ author | safe }}</p>
{% endif %}
{% if year %}
    <p class="year" style="color:rgb(226, 223, 223);">{{ year | safe }}</p>
{% endif %}
{% if averageRating %}
    <p class="averageRating" style="color:rgb(226, 223, 223);">{{ averageRating | safe }}</p>
{% endif %}
{% if numberOfRating %}
    <p class="numberOfRating" style="color:rgb(226, 223, 223);">{{ numberOfRating | safe }}</p>
{% endif %}


<p style="text-decoration: underline;">Read this book? Leave a review below!</p>
<form action="/review", method="POST">
    <label for="rating" style="margin-right: 10px;">Rating:</label>
    <select id="rating" name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select><br></br>
    <label for="review">Review: </label><br></br>
    <input type="text" id = "isbn" name="isbn" value ="{{ isbn | safe }}" hidden="True">
    <textarea id="review" name="review" rows="10" cols="75"></textarea><br></br>
    <input type="submit" id="search" class="search" value="Submit Review">
</form>
<p>Reviews from others: </p>
{% if reviews %}
    {% for review in reviews %}
        <p>{{ review }}</p>
    {% endfor %}
{% endif %}
{% endblock %}