{% extends "base.html" %}

{% block head %}
<title>Login</title>

{% endblock %}

{% block body %}
<div>
    <!-- Logout -->
    <form action="/logout" method="POST">
        <button class="logoutSignInButton">HOME</button>
    </form>
    <h1 style="margin-bottom: 10px;">Login</h1>
    <p style="width: 520px;">
        Unlock a world of possibilities and personalized experiences with just a click. 
        Log in now to access exclusive content and features tailored just for you.
    </p>
    <div>
        {% if message %}
            <p class="message" style="color:red">{{ message | safe }}</p>
        {% endif %}
        <!-- Login -->
        <form action="/signin" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"><br><br>
            <label for="password">Password:</label>
            <input type="text" id="password" name="password"><br><br>
            <button class="submit">Login</button>
        </form>
    </div>
</div>

{% endblock %}