{% extends "base.html" %}

{% block head %}
<title>Success</title>

{% endblock %}

{% block body %}
<!-- Logout -->
<form action="/logout" method="POST">
    <button class="logoutSignInButton">LOGOUT</button>
</form>

<h1>Success</h1>

{% if complete %}
<p class="complete" style="color:rgb(226, 223, 223);">{{ complete | safe }}</p>
{% endif %}

<!-- Return to Search -->
<form action="/returnToSearch" method="POST">
    <button class="returnToSearch">Return to Search</button>
</form>

{% endblock %}